{% extends "LangLens/index.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'LangLens/css/listening_sstory.css' %}">
{% endblock %}
{% block content %}
    <a href="javascript:history.back()" class="back-link"><i class="fas fa-chevron-left"></i> Back to Stories</a>
<div class="simple-story-container">
    <div class="story-card">
        <h1> {{text.title}} </h1>
        <div class="story-content">
             {{text.story_content|linebreaks}}
        </div>
        <div class="story-end-line"></div>
    </div>
</div>
{% endblock %}
