{% extends "LangLens/index.html" %}
     {% block content %}

<main class="container">

        <section class="icon-section">
    <div class="header-nav-left">
            <a href="javascript:history.back()" class="back-link-circle" title="Back to Dashboard">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1>{{ category.name }}</h1>

            <br>
            <br>
            <div class="icon-grid primary-set">
                 
            {% if categories %}
            {% for category in categories %}
                
            <a href="{% url 'display_reading_text' slug=category.slug %}"><div class="icon-card"><p>{{category.title}}</p> </div></a>
            {% endfor %}
                <div>
                    
                </div>
                <div>
                </div>
                <div >
                </div>
            </div>
        </section>
        <div>
        </div>
        
</main>
 {% else %}
  <div class="icon-grid primary-set">
        <p class="empty-state">No categories added yet.</p>
  </div>
    {% endif %}
    {% endblock %} 
